@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Proxima Nova', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    @apply bg-stone-50;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

a:not(.nav__item):not(.social-media) {
    @apply underline text-green-700 font-bold;
}

.nav__item {
    @apply md:-ml-4 md:px-4 transition duration-300 md:border md:border-transparent md:hover:border-stone-200 md:rounded-xl md:py-2;
}

.nav__item-active {
    @apply md:border-stone-200 md:text-black;
}

.icon {
    font-size: 1.5rem;
    @apply text-green-700;
}

.little {
    font-size: 0.875rem;
    font-weight: 300;
}
